body {
    padding: 0px;
    margin: 0px;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.desktop_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15% 10px 8%;
    background-color: white;
    font-family: Karla;
    text-transform: uppercase;
}

.desktop_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desktop_list span {
    padding: 3px 10px 3px 10px;
    margin-left: 5px;
}
.desktop_list span:hover{
    font-weight: 700;
    cursor: pointer;
}

.desktop_list button {
    padding: 3px 15px 3px 15px;
    background-color: white;
    border: 2px solid black;
    margin-left: 5px;
    font-weight: 600;
}
.desktop_list button:hover {
    color: white;
    background-color: black;
}

.hero {
    background: linear-gradient(180deg, hsl(256, 26%, 20%) 70%, #ffffff 30%);
    color: white;
    padding: 5% 7% 0% 7%;
    height: 100vh;
}

.hero_line {
    border: 1px solid white;
    width: 22%;
}

.hero_line2 {
    border: 2px solid hsl(273, 4%, 51%);
    width: 10%;
    margin-left: 7%;
}

.hero_btn {
    padding: 3px 15px 3px 15px;
    background-color: inherit;
    border: 2px solid white;
    font-weight: 500;
    color: white;
    margin-top: 10px;
}
.hero_btn:hover {
    color: hsl(256, 26%, 20%);
    background-color: #fff;
}

.hero_title {
    font-family: DM Serif Display;
    font-weight: 400;
    font-size: 60px;
    margin-top: 40px;
}

.hero_img .desktop_image {
    height: 80vh;
}

.hero_img .mobile_image {
    display: none;
}

.bg_pattern_right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25% !important;
    height: 68vh;
}

.bg_pattern_left {
    position: absolute;
    top: 62%;
    left: 0px;
    width: 10% !important;
    height: 50vh;
}

.bg_mobile_right, .bg_mobile_left {
    display: none;
}

.mid {
    padding: 0px 7% 0px 7%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-img-top {
    width: 75px !important;
}

.card-body {
    padding-left: 0px !important;
}

.card {
    border: none !important;
}

.mid_block {
    background-color: hsl(256, 26%, 20%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 3% 7% 3% 7%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.mid h1 {
    font-family: DM Serif Display;
    font-size: 3.125rem;
}

.mid_block .hero_btn {
    margin-top: 0px;
}
.mid_block .hero_btn:hover {
    color: hsl(256, 26%, 20%);
    background-color: #fff;
}

.mid_pattern {
    display: none;
}

.mid_pattern_sm {
    position: absolute;
    right: 0px;
}

.footer {
    background-color: hsl(0, 0%, 98%);
    padding: 3% 8% 2% 8%;
    position: relative;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul {
    list-style: none;
}

.list_title {
    margin-bottom: 20px;
}

.bg-pattern-footer-desktop {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 35%;
    height: 60%;
}

.bg-pattern-footer-mobile {
    display: none;
}

@media (max-width: 1000px) {
    header {
        position: sticky;
        top: 0px;
        z-index: 1;
        display: none;
    }
    .desktop_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15% 10px 8%;
        background-color: white;
        font-family: Karla;
        text-transform: uppercase;
    }
    .hero {
        background: linear-gradient(360deg, hsl(256, 26%, 20%) 100%, #ffffff 0%) !important;
        color: white;
        padding: 0px !important;
        text-align: center;
        height: 140vh;
        font-size: 20px;
    }
    .hero_line {
        display: none;
    }
    .hero_line2 {
        border: 2px solid hsl(273, 4%, 51%);
        width: 10%;
        margin-left: 7%;
    }
    .hero_caption {
        margin: 0px !important;
    }
    .hero_btn {
        padding: 10px 30px 10px 30px;
        background-color: inherit;
        border: 2px solid white;
        font-weight: 500;
        color: white;
        margin-top: 0px !important;
    }
    
    .hero_title {
        font-family: DM Serif Display;
        font-weight: 400;
        font-size: 45px;
        margin: 0px !important;
    }
    .hero_img .desktop_image {
        display: none;
    }
    .hero_block {
        height: 70vh;
        order: 2;
        padding: 40px 20px 40px 20px !important;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        margin: 0px !important;
    }
    .hero_img .mobile_image {
        display: block;
        width: 100%;
        height: 70vh;
        order: 1;
    }
    .hero_img {
        padding: 0px !important;
        /* position: relative !important; */
    }
    .bg_pattern_right, .bg_pattern_left {
        display: none;
    }
    .bg_mobile_left {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 40% !important;
    }
    .bg_mobile_right {
        display: block;
        position: absolute;
        bottom: -39%;
        right: 0px;
        width: 30% !important;
        height: 50vh;
    }
    .mid {
        padding: 25% 7% 25% 7%;
        display: block;
        text-align: center;
        height: 100%;
    }
    .card {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15%;
    }
    .mid_block {
        background-color: hsl(256, 26%, 20%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 20% 7% 20% 7%;
        position: relative;
        z-index: 1;
        /* overflow: visible; */
    }
    .mid h1 {
        font-family: DM Serif Display;
        font-size: 45px;
        padding: 0px !important;
        margin: 0px;
        margin-bottom: 15%;
    }
    .mid_pattern {
        display: none;
    }
    .mid_pattern_sm {
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .hero_line2 {
        /* border: 2px solid hsl(273, 4%, 51%); */
        width: 45vw;
        margin: auto;
        margin-bottom: 15%;
    }
    .footer {
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        padding-top: 15%;
        padding-bottom: 15%;
    }
    .footer_top {
        display: flex;
        flex-direction: column;
        padding: 10% 0% 10% 0%;
    }
    .icon_group {
        width: 60%;
        display: flex;
        justify-content: space-between;
        margin-top: 10%;
    }
    .list_group {
        margin: 0px;
        margin-top: 20px;
        padding: 0px;
    }
    .bg-pattern-footer-desktop {
        display: none;
    }
    .bg-pattern-footer-mobile {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
    }
}